In [9]:
from yahoo_fin.stock_info import get_data
import xlsxwriter #The XlsxWriter libarary for 
import pandas as pd 
import numpy as np
import math

In [16]:
ticker = "CIMSA.IS"

cimsa_weekly = get_data(ticker, start_date="01/01/2021", end_date="24/01/2021", index_as_date = True, interval="1d")
cimsa_weekly
#amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2019", index_as_date = True, interval="1wk")
# amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2021-01-18,19.070000,19.330000,18.760000,19.190001,19.190001,1290061,CIMSA.IS
2021-01-19,19.219999,19.650000,19.139999,19.340000,19.340000,1991021,CIMSA.IS
2021-01-20,19.500000,20.180000,19.480000,19.980000,19.980000,2832600,CIMSA.IS
2021-01-21,19.920000,21.900000,19.920000,21.860001,21.860001,6377354,CIMSA.IS
2021-01-22,21.959999,23.280001,21.879999,22.480000,22.480000,7961166,CIMSA.IS

In [14]:
writer = pd.ExcelWriter('hisse_data.xlsx', engine='xlsxwriter')
cimsa_weekly.to_excel(writer, sheet_name=ticker, index = False)

In [11]:
writer.save()